.destacados{
    background-color: var(--background-azul-claro);
    padding: 2.5rem 6%;
}
.destacados__titulo{
    color: var(--fuente-ceniza-oscuro);
    font-weight: 700;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 2rem;
}
.destacados__panel{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    margin-bottom: 2rem;

}
.destacados__panel-img{
    /* vw para que ponga el 100% de la pantalla | largura de la pantalla (en pixel) */
    width:100%; 
    max-width: 60rem;
    box-shadow: 0 2px 10px 5px #00000063;
    margin-bottom: .5rem;
}
.destacados__panel-texto{
    font-weight:700;
    font-size: 1.2rem;
    line-height: normal;
}
.destacados__boton{
    color: var(--boton-rojo);
    width:auto;
    margin: 0 auto;
}